
<div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
    <carousel>
  <slide>
    <img src="https://dummyimage.com/900x300/000/fff" alt="first slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="https://dummyimage.com/900x300/000/fff" alt="second slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="https://dummyimage.com/900x300/000/fff" alt="third slide" style="display: block; width: 100%;">
  </slide>
</carousel>
    
  </div>
